<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>

<style>

    .glyphicon-remove{
        float: right;
        font-size: 1.8em;
    }

    .removePublisher {
        position: absolute;
        top: 17%;
        right: 5%;
        font-size: 2.5em;
    }

    @media screen and (min-width: 1400px) {
        .container {
            max-width: 30%;
            display: block;
            margin: 35%;
        }
    }
</style>

<body>
    <nav th:replace = "fragments :: navigation"></nav>
    <div id="errorMessage"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="page-header" style = "margin: 1.8%; font-size: 2em">
                    <h1>Administrator Panel</h1>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>

        <div class="row">

            <div class="col-sm"></div>
            <div class="col-sm">
                <hr style="margin: .1%; margin-left: 1%; max-width: 400px;"/>
                <div class="form-group" style="margin: 1%">
                    <h1 class="display-5 form_header">Add Publisher</h1>
                    <div class="form-group">
                        <label th:for="username">Publisher</label>
                        <input class="form-control" id="pubName"/>
                    </div>
                    <input type="submit" value="Add" id="addPub" class="form-control w-25"/>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>

        <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <hr style="margin: .1%; margin-left: 1%; max-width: 400px;"/>
            
                    <form class="form-group" style="margin: 1%">
                        <h1 class="display-5 form_header">Add Feed</h1>
                        <div class="form-group">
                            <select name="publisherDd"  class="form-control" id="publisherDd">
                            </select>
            
                            <div class="form-group">
                                <div>Title</div>
                                <input type="text" class="form-control" id = "feedTitle"/>
                            </div>
            
                            <div class="form-group">
                                <div>Link</div>
                                <input type="text" class="form-control" id = "feedLink"/>
                            </div>
                            <input type="button" value="Add" class="form-control w-25" id="addLinkSub"/>
                        </div>
                    </form>
                </div>
                <div class="col-sm">
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col-lg">
                <hr style="margin: .1%; margin-left: 1%; max-width: 400px;"/>
            
                <div method="post" id="removeLinkForm" style="margin: 1%">
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>

<script type="text/javascript" th:src="@{javascript/AdminUtility.js}">
</script>
<script>
    $("#logout").click(function(){
        clearCookies();
        $.get("/logout");
        window.location = "/";
    });

    function clearCookies(){
        setCookie("stayLoggedIn", "0", -1);
        setCookie("username", "", -1);
        setCookie("password", "", -1);
    }

</script>
</html>