<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>

<style>

    .glyphicon-remove{
        float: right;
        font-size: 1.8em;
    }

    .removePublisher {
        position: absolute;
        top: 17%;
        right: 5%;
        font-size: 2.5em;
    }

    @media screen and (min-width: 1400px) {
        .container {
            max-width: 30%;
            display: block;
            margin: 35%;
        }
    }
</style>

<body>
    <nav th:replace = "fragments :: navigation"></nav>
    <div id="errorMessage"></div>

    <span class="">
        <div class="page-header" style = "margin: 1.8%;">
            <h1>Administrator Panel</h1>
        </div>

        <hr style="margin: .1%; margin-left: 1%; max-width: 400px;"/>
        <div class="form-group w-25" style="margin: 1%">
            <h1 class="display-5 form_header">Add Publisher</h1>
            <div class="form-group">
                <label th:for="username">Publisher</label>
                <input class="form-control" id="pubName"/>
            </div>
            <input type="submit" value="Add" id="addPub" class="form-control w-25"/>
        </div>

        <hr style="margin: .1%; margin-left: 1%; max-width: 400px;"/>

        <form class="form-group w-25" style="margin: 1%">
            <h1 class="display-5 form_header">Add Feed</h1>
            <div class="form-group">
                <select name="publisherDd"  class="form-control" id="publisherDd">
                </select>

                <div class="form-group">
                    <label for="feedTitle">Title</label>
                    <input type="text" class="form-control" id = "feedTitle"/>
                </div>

                <div class="form-group">
                    <label for="feedLink">Link</label>
                    <input type="text" name="linkUrl" class="form-control" id = "feedLink"/>
                </div>
                <input type="button" value="Add" class="form-control w-25" id="addLinkSub"/>
            </div>
        </form>

        <hr style="margin: .1%; margin-left: 1%; max-width: 400px;"/>

        <div method="post" class="container" id="removeLinkForm" style="margin: 1%">
        </div>
    </span>
</body>

<script type="text/javascript" th:src="@{javascript/AdminUtility.js}">
</script>
</html>