<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>

<style>
    .glyphicon-remove {
        display: block;
        position: relative;
        top: -55px;
        left: -40px;
    }
</style>

<body>
    <nav th:replace = "fragments :: navigation"></nav>
    <div class="container">
            <div class="col"></div>
            <div class="col">
                <div class="row" style="margin-top: 8%">
                    <h1 id="header"></h3>
                </div>
                <div class="row">
                    <h1 class="row">Comments:</h3>
                    <div id="comments" class = "container"></div>
                </div>
                <div class="row">
                    <div id="PostForm"></div>
                </div>
            </div>
            <div class="col"></div>
    </div>
</body>

<script type="text/javascript" th:src="@{javascript/comments.js}"></script>
</html>