<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment = "head">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text = "${title}">Daily News</title>

    <script th:src="@{javascript/jQuery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{javascript/bootstrap/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{styles/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{styles/errors.css}"/>
    <link rel="stylesheet" th:href="@{styles/loader.css}"/>
    <link rel="stylesheet" th:href="@{styles/common.css}">
    <style>
        @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment="navigation">
        <ul class="navbar-nav">
            <a class="navbar-brand mb-0" style="font-size: 1.5em;" href="/">News Hub</a>
        </ul>
        <span th:if = "${session.userId == null}" class="navbar-nav navbar-right ml-auto">
            <div class = "nav-link"><a class = "nav-link" href="/login"><span class="glyphicon glyphicon-log-in" style="margin-right: 10px"></span>Login</a></div>
            <div class = "nav-link"><a class = "nav-link" href="/register"><span class="glyphicon glyphicon-user" style="margin-right: 10px"></span>Sign Up</a></div>
        </span>

        <span th:unless = "${session.userId == null}" class="navbar-nav navbar-right ml-auto">
            <div class = "nav-link" id="logout"><a class = "nav-link"><span class="glyphicon glyphicon-log-out" style="margin-right: 10px"></span>Logout</a></div>
            <div class = "nav-link pointer"><a class = "nav-link" href="/managefeeds"><span class="glyphicon glyphicon-cog" style="margin-right: 10px"></span>Manage Feeds</a></div>
            <div class = "nav-link pointer"><a class = "nav-link" href="/ControlPanel"><span class="glyphicon glyphicon-user" style="margin-right: 10px"></span>Control Panel</a></div>

            <span th:if = "${session.role == 'ADMIN'}">
                <div class = "nav-link"><a class = "nav-link" href="/admin"><span class="glyphicon glyphicon-warning-sign" style="margin-right: 10px"></span>Admin</a></div>
            </span>
        </span>
    </nav>
</body>
</html>