<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment = "head">
    <meta charset="UTF-8"/>
    <title th:text = "${title}">Daily News</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style>
        @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css")
    </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment="navigation">
    <ul class="navbar-nav">
        <a class="navbar-brand" href="/">News Hub</a>
        <li class="nav-item"><a class = "nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class = "nav-link" href="/Register">Register</a></li>
    </ul>

    <ul class="navbar-nav navbar-right ml-auto">
        <li class = "nav-link"><a class = "nav-link" href="/Register"><span class="glyphicon glyphicon-user" style="margin-right: 10px"></span>Sign Up</a></li>
        <li class = "nav-link"><a class = "nav-link" href="/Login"><span class="glyphicon glyphicon-log-in" style="margin-right: 10px"></span>Login</a></li>
    </ul>
</nav>

</body>
</html>