<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>
<body>
    <div class="loader"></div>
    <nav th:replace = "fragments :: navigation"></nav>

    <div class="table-striped table-responsive container" style="margin-top: 2%; margin-bottom: 2%;">

        <label for="publisherSelector">Filter Feeds: </label>
        <select style="margin: 2% 0%" name = "publisherSelector" class = "publisherSelector">
            <option value = "All" selected="selected">All</option>
        </select>

        <div th:unless = "${session.containsKey('username') == null}" th:text = "${session.username}"></div>

        <table id="articleTable" class = "table table-striped" style = "max-width:1200px;">
            <col width="130">
            <col width="200">
            <col width="8">
            <thead class = "thead-light">
                <tr>
                    <th scope="col"><h3>Title</h3></th>
                    <th scope="col"><h3>Description</h3></th>
                    <th scope="col"><h3>Date</h3></th>
                </tr>
            </thead>
        </table>

    </div>
</body>

<script>

    $(".publisherSelector").change(function(){
        var publisher = $( this ).val();

        $(".articleRow").each(function(i, element){
            element.remove();
        });

        $.each(articles, function(i, article){
            if(article.publisher == publisher){
                createTableRow(article);
            }
        });
    });

    var articles = [];
    var publishers = [];

    $(document).ready(function(){
        let path = "rest/feed/articles";
        $.when($.get(path)).done(function(feedData){
            articles = fetchArticles(feedData);
            articles.forEach(function(article){
                createTableRow(article);
            });
            $(".loader").hide();
        });

        loginUser();
    });

    $("#logout").click(function(){
        console.log("click");
        clearCookies();
        $.get("/logout");
        window.location = "/";
    });

    function fetchArticles(data){
        var retArticles = [];

        xmlDoc = $.parseXML(data);
        $xml = $( xmlDoc );

        $articles = $xml.find("Articles");
        
        $("articleXml", $articles).each(function(i, element) {
            var nArticle = new Article(element);
            addPublisher(nArticle);
            retArticles.push(nArticle);
        });

        return retArticles;
    }

    function createTableRow(article){
        var row = "<tr class=\"articleRow\">\n";
            row += "<td scope\"row\"><a href = \"" + article.link + "\">" + article.title + "</a></td>";
            row += "<td>" + article.description + "</td>";
            row += "<td>" + article.date + "</td>";
        row += "</tr>";

        $("#articleTable").append(row);
    }

    function addPublisher(article){

        if($.inArray(article.publisher, publishers) == -1){
            publishers.push(article.publisher);
            addPublisherRow(article.publisher);
        }

    }

    function addPublisherRow(publisher) {
        var row = "<option value = \"" + publisher +"\">" + publisher + "</option>";
        $(".publisherSelector").append(row);
    }

    function loginUser(){
        if(getCookie("stayLoggedIn") == "1"){
        console.log("test");
            var username = getCookie("username");
            var password = getCookie("password");
            $.post("login/" + username + "/" + password)
        }
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function clearCookies(){
        setCookie("stayLoggedIn", "0", -1);
        setCookie("username", "", -1);
        setCookie("password", "", -1);
    }

    class Article {
        constructor(element) {
            this.title = $(element).find("title").text();
            this.description = $(element).find("description").text();
            this.author = $(element).find("author").text();
            this.link = $(element).find("link").text();
            this.date = $(element).find("date").text();
            this.publisher = $(element).find("publisher").text();
        }
    }

</script>
</html>