<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>
<style>
    .form {
        padding: 2.5%;
        padding-top: 0%;
        max-width: 500px;
        color: black;
        margin-top: 2%;
    }
</style>
<body>
    <nav th:replace = "fragments :: navigation"></nav>

    <form method="post" th:action = "@{/login}" class="container form">
        <h1 class="display-5 form_header">Login</h1>
        <div class="form-group">
            <input class="form-control" placeholder="Username" name = "username"></input>
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" name = "password"></input>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </form>
</body>
</html>