<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>

<style>
    .glyphicon-remove, .glyphicon-ok {
        font-size: 1.8em;
    }
</style>

<body>
<nav th:replace = "fragments :: navigation"></nav>

<div class="table-striped table-responsive container" style="margin-top: 2%; margin-bottom: 2%;">
    <table class = "table table-striped" style = "max-width:80%;">
        <col width="130"/>
        <col width="20"/>
        <col width="20"/>

        <thead class = "thead-light">
            <tr>
                <th scope="col" style="width: 6%">Title</th>
                <th scope="col" style="width: 4%">Publisher</th>
                <th scope="col" style="width: 1%">Subscribe</th>
            </tr>
        </thead>
    </table>
</div>

</body>

<script type = "text/javascript" th:src="@{javascript\feedUtility.js}"></script>

<script th:inline="javascript">

    $(document).ready(function(){
        let feedPath = "rest/feed/all";
        var subcribedPath = "rest/user/feeds";

        $.when($.get(feedPath), $.get(subcribedPath)).done(function(feedData, subscribedIds){
            var feeds = fetchFeeds(feedData[0]);
            var ids = fetchSubscribedIds(subscribedIds[0]);

            feeds.forEach(function(feed) {
                feed.checkSubscribed(ids);
                createTableRow(feed);
            });
        });
    });
    
    $("#logout").click(function(){
        console.log("click");
        clearCookies();
        $.get("/logout");
        window.location = "/";
    });

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function clearCookies(){
        setCookie("stayLoggedIn", "0", -1);
        setCookie("username", "", -1);
        setCookie("password", "", -1);
    }

</script>
</html>