<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>
<body>
<nav th:replace = "fragments :: navigation"></nav>

<form>
    <table>
        <tr>
            <td><label for="feedDd">Feed</label></td>
            <td>
                <select id = "feedDd">
                    <option th:each = "publisher : ${publishers}" th:value = "${publisher}" th:text = "${publisher}"></option>
                </select>
            </td>
        </tr>
        <td>
            <input type="submit"/>
        </td>
    </table>
</form>
</body>
</html>