<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace = "fragments :: head">
</head>

<style>
    .form {
        padding: 2.5%;
        padding-top: 0%;
        color: black;
        margin-top: 2%;
    }

    form{
        min-width: 200px;
        max-width: 30%;
    }
    form::before{
        max-width: 30%;
    }
</style>

<body onload="getQueries()">
    <nav th:replace = "fragments :: navigation"></nav>

    <div id="errorMessage"></div>

    <form method="post" class="container form w-25">
        <h1 class="display-5 form_header">Sign-Up</h1>

        <div class="form-group">
            <input id="username" class="form-control" placeholder="Username"/>
        </div>

        <div class="form-group">
            <input id="password" type = "password" class="form-control" placeholder="Password"/>
        </div>
        <div class="form-group">
            <input id="vPassword" type="password" class="form-control" placeholder="Re-Enter Password"/>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block w-50" id="loginButton">Submit</button>
    </form>

    
</body>

<script>
    document.getElementById("loginButton").addEventListener("click", function(event){

        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var vPassword = document.getElementById("vPassword");

        register(username, password);

        event.preventDefault();
    });

    function register(username, password){
        $.post("register?username=" + username + "&password=" + password, function(data){
            console.log("posty toasty");
            if(data != "success"){
                displayError(data);
            } else {
                window.location = "/login";
            }
        });
    }

    function displayError(errorMessage){
        document.getElementById("errorMessage").innerText = errorMessage;
    }

    //https://stackoverflow.com/questions/31542032/how-to-add-default-values-to-input-fields-in-thymeleaf?rq=1
    //Many thanks to Kingamere on stack overflow.
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        let regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    function getQueries(){
        let errors = getParameterByName("errors");
        let username = getParameterByName("username");

        displayError(errors);
        document.getElementById("username").value = username;
    }

    $("#errorMessage").click(function(){
        $("#errorMessage").text("");
        $("#password").val("");
    });
</script>
</html>